### AutoSSL-Satellite Don't Edit Below This Line ###
<IfModule mod_rewrite.c>
	RewriteEngine On
	# Force HTTPS
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-SSL} !on
	RewriteRule ^(.*)$ "https://%{HTTP_HOST}%{REQUEST_URI}" [R=301,L]
</IfModule>
### AutoSSL-Satellite Don't Edit Above This Line ###


### AutoSSL-Satellite Don't Edit Below This Line ###
<IfModule mod_rewrite.c>
	RewriteEngine On
	# Force HTTPS
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-SSL} !on
	RewriteRule ^(.*)$ "https://%{HTTP_HOST}%{REQUEST_URI}" [R=301,L]
</IfModule>
### AutoSSL-Satellite Don't Edit Above This Line ###

<IfModule mod_rewrite.c>

  Options -MultiViews
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.html [QSA,L]

</IfModule>